// Colours

$primary: #29434e;
$secondary: #546e7a;
$tertiary: #90a4ae;
$black: #111111;
$white: #ffffff;
$grey: #e1e2e1;
$error: #d50000;

// Typeography
$body_font: 'Open Sans', Helvetica, Arial, sans-serif;
$head_font: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;